// Colours partial

// Text colours
$txt-primary: #f9ede7;
// body font
$txt-secondary: #b59d77;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #1f1011;
// form placeholder text
// Global colours
$accent-color: #b59d77;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #b59d77;
$h3-color: #b59d77;
$h5-color: #b59d77;
// Layout colours
$section-light: #e1bbb8;
$section-dark: #5c2c35;
$to-top-bg: #495061;
$footer-primary: #b59d77;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #b59d77;
$footer-keyline-color: #536054;
$keyline-secondary: #b59d77;
