// Colours partial

// Text colours
$txt-primary: #f9ede7;
// body font
$txt-secondary: #e8ca6f;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #1f1011;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #e8ca6f;
$h3-color: #e8ca6f;
$h5-color: #e8ca6f;
// Layout colours
$section-light: #422c2c;
$section-dark: #1f1011;
$to-top-bg: #495061;
$footer-primary: #e8ca6f;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;
